tei_openiti.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="https://vault.tei-c.org/P5/current/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="https://vault.tei-c.org/P5/current/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:rng="http://relaxng.org/ns/structure/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>OpenITI Document Schema</title>
      </titleStmt>
      <publicationStmt>
        <publisher>OpenITI</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <head>TEI customization for representing OpenITI mARkdown documents</head>
      <p>This customization defines a schema for encoding OpenITI mARkdown documents in TEI. It is
        based on the mARkdown highlight schema for EditPad Pro, which si documented here: <ref
          target="https://alraqmiyyat.github.io/mARkdown/"
          >https://alraqmiyyat.github.io/mARkdown/</ref>. The code for the highlight schema is on
        GitHub at: <ref target="https://github.com/OpenITI/mARkdown_scheme"
          >https://github.com/OpenITI/mARkdown_scheme</ref>.</p>
      <p>The following sections correspond to the mARkdown documentation and discuss how each
        feature is to be encoded in TEI.</p>
      <div>
        <head>Metadata</head>
        <p>This section indicates how OpenITI metadata is encoded in TEI. 
           OpenITI provides dedicated YAML metadata for authors, books, and specific versions of a text.
           The YAML metadata description is available at: <ref target="https://github.com/OpenITI/Annotation/blob/master/templates_for_metadata/all_template.yml">
          https://github.com/OpenITI/Annotation/blob/master/templates_for_metadata/all_template.yml</ref>           
        </p>
        <p>This metadata needs to be re-integrated with the TEI version of each mARkdown file, but 
           it is best to avoid repetition. Metadata about authors (<gi>person</gi>) and books (<gi>bibl</gi>)
           will be provided in separate TEI fragments to be XIncluded by the TEI version of each mARkdown file.</p>
        <p>Information about text versions will be added to the TEI file together with file-specific metadata.</p>
        
        <p>To summarize, there are four types of metadata</p>
        <list>
          <item>Author Record, provided in a separate TEI fragment (<gi>listPerson</gi>)</item>
          <item>Book Record (information about a work), provided in a separate TEI fragment (<gi>listBibl</gi>)</item>
          <item>Version Record (information about a specific version of a work), provided in each TEI file</item>
          <item>Non-Machine Readable File Metadata</item>
        </list>
        <p>Each TEI file will XInclude Author and Book records within a <gi>standOff</gi> element and link to them from relevant sections.</p>
        <p>Author and book title metadata are duplicated in the <gi>titleStmt</gi> to better conform with a typical TEI header structure.
        Both title and author will be linked to the respective metadata using <att>ref</att>.</p>
        <p>Finally, the full bibliographical information will be linked from <gi>sourceDesc</gi>.</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <teiHeader>
            <fileDesc>
              <titleStmt>
                <title ref="#bibl">Sunan</title>
                <author>
                  <persName ref="#pers">IbnMansurKhurasani</persName>
                </author>
              </titleStmt>
              <publicationStmt>
                <p></p>
              </publicationStmt>
              <sourceDesc>
                <bibl ref="#bibl"/>
              </sourceDesc>
            </fileDesc>
            <!-- other File Metadata -->
          </teiHeader>
        </egXML>
        <p>At the time of writing, the YML metadata is largely incomplete. When missing, <gi>titleStmt</gi> information can be
        derived from the mARkdown filename instead, which is composed as of three parts separated by dots:
        year followed by author name; book title; version id. For example <code>0227IbnMansurKhurasani.Sunan.JK001473-ara1</code> would result 
        in the <gi>titleStmt</gi> shown above.</p>
        <p>The following sections describe each set of metadata in detail.</p>  
        <div>
          <head>Author Record</head>
          <p>The author of each document is encoded with <gi>person</gi> within a <gi>listPerson</gi> in <gi>standOff</gi>.</p>
          <p>Authors are given an <att>xml:id</att> derived from the metadata field <code>00#AUTH#URI######</code>.</p>
          <p>The author's name is encoded with <gi>persName</gi>, split into multiple components as follows:</p>
          <list>            
            <item><gi>name</gi> with <att>type</att> "ism", corresponding to <code>10#AUTH#ISM####LA</code> in the YAML;</item>
            <item><gi>name</gi> with <att>type</att> "nasab", corresponding to <code>10#AUTH#NASAB####LA</code> in the YAML;</item>
            <item><gi>name</gi> with <att>type</att> "kunya", corresponding to <code>10#AUTH#KUNYA####LA</code> in the YAML;</item>
            <item><gi>name</gi> with <att>type</att> "laqab", corresponding to <code>10#AUTH#LAQAB####LA</code> in the YAML;</item>
            <item><gi>name</gi> with <att>type</att> "nisba", corresponding to <code>10#AUTH#NISBA####LA</code> in the YAML;</item>
            <item><gi>name</gi> with <att>type</att> "shuhra", corresponding to <code>10#AUTH#SHUHRA####LA</code> in the YAML;</item>
          </list>
          <p>For example:
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <person xml:id="AH0227IbnMansurKhurasani">
                <persName>
                  <name type="ism">Fulān</name>
                  <name role="kunya">Abū Fulān, Abū Fulānaŧ</name>
                  <name type="laqab">Fulān al-dīn, Fulān al-dawlaŧ</name>
                  <name type="nasab">b. Fulān b. Fulān b. Fulān b. Fulān</name>
                  <name type="nisba">al-Fulānī, al-Fāʿil, al-Fulānī, al-Mufaʿʿil</name>
                  <name type="shuhra">Ibn Fulān al-Fulānī</name>
                </persName>
              </person>              
            </egXML>
          </p>
          <p>
            Birth and death information is encoded with <gi>birth</gi> and <gi>death</gi> respectively.
            The date is encoded as an attribute, the place, if known, is encoded via a reference to entries
            in <ref target="https://althurayya.github.io/">Althurayya</ref> with <gi>place</gi>.
          </p>
          <p> For example:
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <birth when="YEAR-MON_DA">
                <placeName ref="URI"/>
              </birth> 
            </egXML>            
            If the date or places are unknown, they will be omitted. The whole element is omitted when 
            both are unknown.
          </p>
          <p>
            OpenITI metadata may include information about places that the author visited. These
            are encoded as events using <gi>listEvent</gi> and zero or more <gi>event</gi> elements
            pointing to URIs in Althurayya.
            For example:
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <listEvent>
                <event type="visit" where="URI" />
                <event type="visit" where="URI" />
              </listEvent>
            </egXML>           
          </p>
          <p>
            OpenITI metadata may include information about places where the author resided. These
            are encoded as events using one or more <gi>residence</gi> elements for each URI in Althurayya with one <gi>placeName</gi> pointing to the URI.
            For example:
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <residence>
                <placeName ref="URI" />
              </residence>
            </egXML>
          </p>
          <p>
            Bibliographical references to this person are listed in <gi>listBibl</gi> with <gi>bibl</gi>
            elements referencing external resources.
            For example:
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <listBibl>
                <bibl ref="URI" />
              </listBibl>
            </egXML>            
          </p>
          <p>
            Finally, there may be a free-text comment about the author, which is econded with <gi>note</gi>. 
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <note> a free running comment here; you can add as many
                lines as you see fit; the main goal of this comment section is to have a
                place to record valuable information, which is difficult to formalize
                into the above given categories.</note>
            </egXML>  
          </p>
          <div>
            <head>Author Relationships</head>
            <p>
              OpenITI metadata about authors may include relationships to teachers and students. 
              In TEI, this is handled separately from the author's metadata with <gi>listRelation</gi>.
              This element is located in <gi>listPerson</gi> and may contain information about multiple
              relationships of the poeple named in the encoding.
            </p>
            <p>
              Teacher and student relationship for authors are encoded using <gi>relation</gi>, where <att>name</att>
              defines the type of relationship and <att>active</att> and <att>passive</att> describe the direction
              of the relationship. Pointers will reference IDs of other people in the OpenITI corpus. For example:
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <listRelation>
                  <relation name="teacher" active="URI_TO_TEACHER" passive="#AUTHORID" />
                  <relation name="student" active="#AUTHORID" passive="URI_TO_STUDENT" />
                </listRelation>
              </egXML>
            </p>
          </div>
        </div>
        <div>
          <head>Book Record</head>
          <p>Information about a book is encoded with <gi>bibl</gi> within a <gi>listBibl</gi> in <gi>standOff</gi>.</p>
          <p>Books are given an <att>xml:id</att> derived from the metadata field <code>00#BOOK#URI######</code>.</p>
          <p>Books can have more than one <gi>title</gi>. The first one, corresponding to <code>10#BOOK#TITLEA#AR</code>, will 
            always get <att>type</att> "main"; the others will have <att>type</att> "alt".
          </p>
          <p>The same title may be provided in arabic script or transliterated in latin script. We use <att>xml:lang</att>
            to mark the titles in arabic script. For example:
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <bibl xml:id="AH0748Dhahabi.TarikhIslam">
                <title type="main">Taʾrīḫ al-islām</title>
                <title type="alt">Taʾrīḫ al-islām wa-Ṭabaqāt al-mašāhīr wa-l-aʿlām</title>
                <title type="main" xml:lang="ar">تأريخ الإسلام</title>
                <title type="alt" xml:lang="ar">تأريخ الإسلام وطبقات المشاهير والأعلام</title>
              </bibl>
            </egXML>
          </p>
          <p>Genre classification is relies on URIs to external taxonomies, which can be provided with <att>ana</att>
          on the container <gi>bibl.</gi> For example:
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <bibl ana="URI URI"/>
            </egXML>          
          </p>
          <p>OpenITI metadata also identifies the location (<code>20#BOOK#WROTE####</code>) and date 
          (<code>30#BOOK#WROTE##AH</code>) of writing. These are respresented with <gi>placeName</gi> and <gi>date</gi>
          respectively. A <att>ref</att> can be provided on <gi>placeName</gi> to point to URIs in Althurayya.</p>
          <p>There may be a list of related books in the corpus. These are encoded with <gi>relatedItem</gi> with 
            a <att>target</att> pointing to book IDs in the corpus. The <att>type</att> attribute indicated
            the type of relationship. For example:
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <bibl xml:id="AH0748Dhahabi.TarikhIslam">
                <relatedItem type="preceded" target="ID"/>
                <relatedItem type="followed" target="ID"/>
                <relatedItem type="abridged" target="ID"/>
                <relatedItem type="commented" target="ID"/>
              </bibl>
            </egXML> 
          </p>
          <p>Related external resources are also encoded with <gi>relatedItem</gi> with <att>type</att> 
            indicating the type or relationship.
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <bibl xml:id="AH0748Dhahabi.TarikhIslam">
                <relatedItem type="editions" target="URI URI"/>
                <relatedItem type="links" target="URI URI"/>
                <relatedItem type="mss" target="URI URI"/>
                <relatedItem type="studies" target="URI URI"/>
                <relatedItem type="translations" target="URI URI"/>
              </bibl>
            </egXML>
          </p>
          <p>
            Finally, there may be a free-text comment about the book, which is econded with <gi>note</gi>. 
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <note> a free running comment here; you can add as many
                lines as you see fit; the main goal of this comment section is to have a
                place to record valuable information, which is difficult to formalize
                into the above given categories.</note>
            </egXML>  
          </p>
        </div>
        <div>
          <head>Version Record</head>
          <p>Information about a specific version of a text is encoded in the header of each TEI file.</p>
          <p>The version URI is encoded with <gi>idno</gi> in the <gi>publicationStmt</gi></p>
          <p>Character (<code>00#VERS#CLENGTH##</code>) and word (<code>00#VERS#LENGTH###</code>) 
            length information is encoded in the <gi>fileDesc</gi> with appropriate measures:
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <fileDesc>
                <extent>
                  <measure unit="characters">188711</measure>
                  <measure unit="words">48155</measure>
                </extent>
              </fileDesc>
            </egXML> 
          </p>          
          <p>Information about the resource used for this version is encoded with <gi>bibl</gi> within <gi>sourceDesc</gi>.</p>
          <p>OpenITI distinguishes between the source used as the base text (<code>80#VERS#BASED####</code>)
            and a version used for collation (<code>80#VERS#COLLATED#</code>). They may be the same, but must be encoded
            separately. Other related resources (<code>80#VERS#LINKS####</code>) are also encoded with <gi>bibl</gi>.
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <bibl type="based">
                <ptr target="http://www.worldcat.org/oclc/72691742" />
              </bibl>
              <bibl type="collated">
                <ptr target="http://www.worldcat.org/oclc/72691742" />
              </bibl>
              <bibl type="other">
                <ptr target="https://archive.org/details/FP105731" />
              </bibl>
            </egXML>
          </p>
          <p>Information about the annotator are encoded in a <gi>respStmt</gi> within <gi>titleDesc</gi>. 
            N.B. information about issues (<code>90#VERS#ISSUES###</code>) is left out from the TEI.
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <respStmt>
                <resp>Annotator</resp>
                <name>MAXIM G ROMANOV</name>
                <date when="2018-05-29"/>
              </respStmt>
            </egXML>  
          </p>
          <p>
            Finally, there may be a free-text comment about the book, which is econded with <gi>note</gi>. 
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <note>The electronic text is based on Baššār ʿAwwād Maʿrūf’s edition;
                The quality of reproduction is very high, corresponding very closely to the
                printed edition. The electronic file was initially prepared for Shamela by ...
                who did a great job tagging the text structurally.</note>
            </egXML>  
          </p>
        </div>
        <div>
          <head>Non-Machine Readable File Metadata</head>
          <p>Each mARkdown file contains a metadata header that was derived from previous data formats. The mARkdown
          Guidelines indicated that these metadata are not predicatbly machine readable. They are nonetheless included in the
          TEI Header for preservation using the <gi>xenoData</gi> element.</p>
        </div>
      </div>
      <div>
        <head>Paragraphs and lines</head>
        <p>Paragraphs are encoded with <gi>p</gi> and line beginnings marked by <gi>lb</gi>.</p>
      </div>
      <div>
        <head>Page numbers</head>
        <p>mARkdown tags pages and volume numbers with <code>PageV##P###</code>. This is split into
          two TEI elements.</p>
        <p>Page numbers are encoded with <gi>pb</gi> and <att>n</att>. </p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <pb n="022"/>
        </egXML>
        <p>Volume numbers are encoded with <gi>milestone</gi> with <att>unit</att> set to "volume"
          and <att>n</att>.</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <milestone unit="volume" n="05"/>
        </egXML>
      </div>
      <div>
        <head>Verses of poetry</head>
        <p>Poetry lines are encoded with <gi>l</gi></p>
        <p>The separation between hemistichs are encoded as <emph>caesuras</emph> with a <gi>caesura</gi> element.</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <l>وإنما القرم من الأفيل<caesura/> قد يلحق الصغير بالجليل</l>
        </egXML>
      </div>
      <div>
        <head>Milestones</head>
        <p>mARkdown documents often introduce milestones every 300 words to facilitate segmentation.
          These milestones are kept in the TEI and are encoded with <gi>milestone</gi> with
            <att>unit</att> set to "words" and <att>n</att> set to "300".</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <milestone unit="words" n="300"/>
        </egXML>
      </div>
      <div>
        <head>Section headers</head>
        <p>mARkdown identifies levels for section headers. This is not strictly necessary in TEI,
          but this customization preserves the level as specified in the source mARkdown document
          with <att>n</att>.</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <head n="3"/>
        </egXML>
      </div>
      <div>
        <head>Editorial sections</head>
        <p>These are divisions containing paratext, i.e. text not written by the author, but, for
          example, by an editor. This term reflects the terminology used in the mARkdown scheme,
          namely the code <code>### |EDITOR|</code>.</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <div type="editorial">
            <!-- ... -->
          </div>
        </egXML>
      </div>
      <div>
        <head>Dictionary units</head>
        <p>Dictionary units are encoded with <gi>entryFree</gi> and they are not further structured.
          A <att>type</att> attribute can be used to define the type of entry. Valid values are: <!-- TODO: specGrp may be more appropriate to avoid duplication -->
          <list>
            <item>nis (a descriptive name entry, or nisbaŧs)</item>
            <item>top (a toponym entry)</item>
            <item>lex (a lexicalentry)</item>
            <item>bib (a book title)</item>
          </list>
        </p>
      </div>
      <div>
        <head>Biographies and Events</head>
        <p>Sections that can be identified as biographies are marked with <gi>div</gi> with
            <att>type</att> set to "biography". The <att>subtype</att> attributes indicates whether
          the biography is about a man ("man"), a woman ("woman"), or if it's a cross reference or
          repetition ("ref_or_rep").</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <div type="biography" subtype="ref_or_rep">
            <!-- ... -->
          </div>
        </egXML>
        <p>Other specifications are handled with <att>type</att> values. <list>
            <item>"names" for an unstructured list of names</item>
            <item>"event" for a single event</item>
            <item>"events" for multiple, unstructured events</item>
          </list></p>
      </div>
      <div>
        <head>Doxographical items</head>
        <p>Doxographical items are encoded with <gi>div</gi> with <att>type</att> set to
          "doxographical". The <att>subtype</att> attribute indicates whether the section deals with
          doxographical/theological positions ("pos") or it describes religious groups ("sec").</p>
      </div>
      <div>
        <head>Named Entities</head>
        <p>Most Named Entities in mARkdown may include a prefix (not dates). This is explicitely
          marked with a <gi>seg</gi> with <att>type</att> set to "prefix".</p>
        <div>
          <head>Biographical characteristics</head>
          <p>Encoded with <gi>seg</gi> with <att>type</att> set to "biochar".</p>
        </div>
        <div>
          <head>Years AH</head>
          <p>These dates are encoded using <gi>date</gi> with required <att>calendar</att>
              and <att>when-custom</att>. The calendar is defined in the
            header using elements from 2.4.5 Calendar Description (see Guidelines); a
              <gi>calendarDesc</gi> must have the <att>xml:id</att> "ah" for Anno Hegirae, "in the
            year of the Hijra".</p>
          <p>The <att>type</att> attribute can be used to indicate whether the date is of "birth" or
            "death".</p>
          <egXML xmlns="http://www.tei-c.org/ns/Examples">
            <date type="birth" when-custom="499" calendar="#ah"/>
          </egXML>
          <p>Age is encoded with <gi>num</gi> with <att>type</att> set to "age".</p>
        </div>
        <div>
          <head>Toponyms</head>
          <p>Encoded with <gi>placeName</gi>.</p>
        </div>
        <div>
          <head>Individuals (Persons)</head>
          <p>Encoded with <gi>persName</gi>.</p>
        </div>
        <div>
          <head>Sources</head>
          <p>Sources are typically people, so they are encoded with <gi>persName</gi> with
              <att>role</att> set to "source".</p>
        </div>
      </div>
      <div>
        <head>Open Tagging Pattern</head>
        <p>These custom tags are first collected and compiled into a <gi>taxonomy</gi> in the
          header. The <att>resp</att> attribute can be used to indicate the individual or project
          responsible for the tags.</p>
        <p>Categories are encoded with <gi>category</gi> and can nest.</p>
      </div>
      <div>
        <head>Morphological Patterns</head>
        <p>These patterns are better described as interpretative encoding in the TEI. Refer to
          chapter 17 in the Guidelines.</p>
        <p>Categories of interpretation will be encoded as a <gi>taxonomy</gi> in the header,
          composed of <gi>category</gi> elements that can nest.</p>
        <p>Tagged sections will refer to these terms via <att>ana</att>. Either <gi>div</gi>,
            <gi>seg</gi>, or other relevant elements may be added to indicate the morphological
          tagging (<att>ana</att> is global).</p>
      </div>
      <div>
        <head>Geographical units</head>
        <div>
          <head>Administrative Divisions</head>
          <p>These places are encoded with <gi>placeName</gi> as appropriate, but may be further
            structured. Provinces and regions are encoded with <gi>region</gi>, with <att>type</att>
            indicating whether it is a province or a more generic region. Since regions can be
            numbered in mARkdown, we define a dedicated datatype with the pattern
              <code>(province|region\d)</code>.</p>
          <p>Settlements are encoded, still within <gi>placeName</gi> with <gi>settlement</gi>.</p>
        </div>
        <div>
          <head>Routes and distances</head>
          <p>Portions of texts that identify routes are marked with <gi>seg</gi> with
              <att>type</att> set to "route". Within it, the starting and ending places are encoded
            with <gi>placeName</gi> with <att>role</att> set to, respectively, "start" or "end".
            Distances are encoded with <gi>measure</gi> with <att>type</att> set to "distance".</p>
        </div>
      </div>
      <div>
        <head>Riwāyāt units</head>
        <p>These units are marked with <gi>ab</gi> with <att>type</att> set to "rwy". Each unit may
          be organized in three parts, each encoded with <gi>seg</gi> with <att>type</att> set to
          "isn" for isnād, "matn", or "hukm" for ḥukm.</p>
      </div>
    </body>
    <back>
      <div>
        <schemaSpec ident="tei_openiti" start="TEI" prefix="tei_" targetLang="en" docLang="en">
          <moduleRef key="dictionaries" include="entryFree"/>
          <moduleRef key="namesdates" except="listObject object objectIdentifier objectName"/>
          <moduleRef key="linking" include="seg ab"/>
          <moduleRef key="header" except="conversion unitDecl unitDef"/>
          <moduleRef key="core" except="divGen teiCorpus"/>
          <moduleRef key="tei"/>
          <moduleRef key="textstructure"
            except="div1 div2 div3 div4 div5 div6 div7 dateline docDate"/>
          <moduleRef key="verse" include="caesura"/>
          <elementSpec ident="teiCorpus" mode="delete" module="core"/>
          <elementSpec ident="milestone" mode="change">
            <attList>
              <attDef ident="n" mode="change">
                <desc versionDate="2019-09-02" xml:lang="en">gives a number (or other label) for an
                  element, which is not necessarily unique within the document. In this
                  customization, this value partly represents the OpenITI mARkdown milestone300,
                  which indicates the boundary between 300-word sections.</desc>
                <valList type="semi" mode="change">
                  <valItem mode="add" ident="300">
                    <desc versionDate="2019-09-02" xml:lang="en">This value indicates 300
                      words.</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="unit" mode="change">
                <desc versionDate="2019-09-07" xml:lang="en">provides a conventional name for the
                  kind of section changing at this milestone. In this customization, milestones are
                  used to represet the OpenITI mARkdown milestone300, which indicates the boundary
                  between 300-word sections. They are also used to indicate volumes. Corresponds to
                    <code>PageV##</code>.</desc>
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="words">
                    <desc versionDate="2019-09-04" xml:lang="en">Words in Arabic script; determined
                      at time of creation of the source OpenITI mARkdown document.</desc>
                  </valItem>
                  <valItem mode="add" ident="volume">
                    <desc versionDate="2019-09-07" xml:lang="en">Indicated the beginning of a volume
                      when texts are organized in multiple volumes.</desc>
                  </valItem>
                  <valItem mode="delete" ident="page"/>
                  <valItem mode="delete" ident="column"/>
                  <valItem mode="delete" ident="line"/>
                  <valItem mode="delete" ident="book"/>
                  <valItem mode="delete" ident="poem"/>
                  <valItem mode="delete" ident="canto"/>
                  <valItem mode="delete" ident="speaker"/>
                  <valItem mode="delete" ident="stanza"/>
                  <valItem mode="delete" ident="act"/>
                  <valItem mode="delete" ident="scene"/>
                  <valItem mode="delete" ident="section"/>
                  <valItem mode="delete" ident="absent"/>
                  <valItem mode="delete" ident="unnumbered"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="seg" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="prefix">
                    <desc versionDate="2019-09-10" xml:lang="en">A prefix in a named entity.
                      Determined based on the first digit of a mARkdown named entity.</desc>
                  </valItem>
                  <valItem mode="add" ident="biochar">
                    <desc versionDate="2019-09-10" xml:lang="en">A biographical characteristic.
                      Corresponds to <code>@SOCXX</code> or <code>@SXX</code>.</desc>
                  </valItem>
                  <valItem mode="add" ident="route">
                    <desc versionDate="2019-09-14" xml:lang="en">A route usually composed of a
                      starting place, an ending place and a measure of distance.</desc>
                  </valItem>
                  <valItem mode="add" ident="isn">
                    <desc versionDate="2019-09-15" xml:lang="en">Isnād part of a riwāyāt unit</desc>
                  </valItem>
                  <valItem mode="add" ident="matn">
                    <desc versionDate="2019-09-15" xml:lang="en">Matn part of a riwāyāt unit</desc>
                  </valItem>
                  <valItem mode="add" ident="hukm">
                    <desc versionDate="2019-09-15" xml:lang="en">Ḥukm part of a riwāyāt unit</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="head" mode="change">
            <attList>
              <attDef ident="n" mode="change">
                <desc versionDate="2019-09-07" xml:lang="en">gives a number (or other label) for an
                  element, which is not necessarily unique within the document. Even if not strictly
                  necessary, in this customization, we keep track of the header level as specified
                  in the original mARkdown document.</desc>
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="1"/>
                  <valItem mode="add" ident="2"/>
                  <valItem mode="add" ident="3"/>
                  <valItem mode="add" ident="4"/>
                  <valItem mode="add" ident="5"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="name" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="nisbaŧs">
                    <desc versionDate="2019-09-07" xml:lang="en">A descriptive name "nisbaŧs".
                      Equivalent to mARkdown's <code>$DIC_NIS$</code>.</desc>
                  </valItem>
                  <valItem mode="add" ident="nis">
                    <desc versionDate="2019-09-08" xml:lang="en">A descriptive name, or "nisbaŧs".
                      Equivalent to mARkdown's <code>$DIC_NIS$</code>.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="div" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="editorial">
                    <desc versionDate="2019-09-14" xml:lang="en">A division containing paratext,
                      i.e. text not written by the author, but, for example, by an editor. This term
                      reflects the terminology used in the mARkdown document format, namely the code
                        <code>### |EDITOR|</code>.</desc>
                  </valItem>
                  <valItem mode="add" ident="biography">
                    <desc versionDate="2019-09-10" xml:lang="en">This division contains the
                      biography of a person.</desc>
                  </valItem>
                  <valItem mode="add" ident="event">
                    <desc versionDate="2019-09-10" xml:lang="en">Text decribing a historical event.
                      Corresponds to <code>### @</code> or <code>$CHR_EVE$</code> [a historical
                      event].</desc>
                  </valItem>
                  <valItem mode="add" ident="events">
                    <desc versionDate="2019-09-10" xml:lang="en">Text describing a number of
                      historical events. Corresponds to <code>### @ RAW</code> or <code>###
                        $CHR_RAW$</code> [a batch of historical events].</desc>
                  </valItem>
                  <valItem mode="add" ident="doxographical">
                    <desc versionDate="2019-09-10" xml:lang="en">A sections dealing with
                      doxographical items.</desc>
                  </valItem>
                  <valItem mode="add" ident="names">
                    <desc versionDate="2019-09-14" xml:lang="en">An unstructured list of names.
                      Corresponds to <code>### $$$$</code> [a list of names].</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="subtype" mode="change">
                <desc versionDate="2019-09-10" xml:lang="en">provides a sub-categorization of the
                  element, if needed. Only to be used in conjuction with a <att>type</att>
                  "biography".</desc>
                <valList type="semi" mode="change">
                  <valItem mode="add" ident="man">
                    <desc versionDate="2019-09-10" xml:lang="en">With <att>type</att> "biography",
                      the biography of a man. Corresponds to mARkdown <code>### $</code> or
                        <code>### $BIO_MAN$</code> [a biography of a man].</desc>
                  </valItem>
                  <valItem mode="add" ident="woman">
                    <desc versionDate="2019-09-10" xml:lang="en">With <att>type</att> "biography",
                      the biography of a woman. Corresponds to <code>### $$</code> or <code>###
                        $BIO_WOM$</code> [a biography of a woman].</desc>
                  </valItem>
                  <valItem mode="add" ident="ref_or_rep">
                    <desc versionDate="2019-09-10" xml:lang="en">With <att>type</att> "biography", a
                      cross-reference to or repetition of another person's biography. Corresponds to
                        <code>### $$$</code> or <code>### $BIO_REF$</code> [a cross-reference and/or
                      repetition, for both men and women]</desc>
                  </valItem>
                  <valItem mode="add" ident="pos">
                    <desc versionDate="2019-09-10" xml:lang="en">With <att>type</att>
                      "doxographical", indicates a section dealing with doxographical/theological
                      positions. Corresponds to <code>### $DOX_POS$</code>.</desc>
                  </valItem>
                  <valItem mode="add" ident="sec">
                    <desc versionDate="2019-09-10" xml:lang="en">With <att>type</att>
                      "doxographical", indicates a section containing descriptions of religious
                      groups (“sects”) Corresponds to <code>### $DOX_SEC$</code>.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <classSpec ident="att.global.linking" type="atts" mode="delete"/>
          <classSpec ident="att.global.rendition" type="atts" mode="delete"/>
          <classSpec ident="att.global.source" type="atts" mode="delete"/>
          <elementSpec ident="date" mode="change">
            <attList>
              <attDef ident="calendar" mode="change" usage="req">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="#ah">
                    <desc versionDate="2019-09-10" xml:lang="en">Anno Hegirae, "in the year of the
                      Hijra"</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="when-custom" mode="change" usage="req">
                <datatype>
                  <dataRef key="teidata.count"/>
                </datatype>
              </attDef>
              <attDef ident="type" mode="change">
                <desc versionDate="2019-09-10" xml:lang="en">characterizes the element in some
                  sense, using any convenient classification scheme or typology. Lack of type with
                    <att>when-custom</att> indicates <code>YY####</code>.</desc>
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="birth">
                    <desc versionDate="2019-09-10" xml:lang="en">Date of birth. Together with
                        <att>when-custom</att> corresponds to <code>YB####</code>.</desc>
                  </valItem>
                  <valItem mode="add" ident="death">
                    <desc versionDate="2019-09-10" xml:lang="en">Date of death. Together with
                        <att>when-custom</att> corresponds to <code>YD####</code>.</desc>
                  </valItem>
                  <valItem mode="add" ident="other">
                    <desc versionDate="2021-12-17" xml:lang="en">Other date. Together with
                        <att>when-custom</att> corresponds to <code>YY####</code>.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="num" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <valList mode="change">
                  <valItem mode="add" ident="age">
                    <desc versionDate="2019-09-10" xml:lang="en">A person's age. Correspondes to
                        <code>YA####</code>.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="taxonomy" mode="change">
            <desc versionDate="2019-09-14" xml:lang="en">defines a typology either implicitly, by
              means of a bibliographic citation, or explicitly by a structured taxonomy. In this
              customization, taxonomies are used to model mARkdown Open Tagging Patterns and
              Morphological Patterns.</desc>
            <attList>
              <attDef ident="resp" mode="change" usage="req">
                <desc versionDate="2019-09-10" xml:lang="en">indicates the agency responsible for
                  the intervention or interpretation, for example an editor or transcriber. This
                  attribute is required in this customization in order to capture the
                    <code>@USER</code> part of the mARkdown open tagging system.</desc>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="entryFree" mode="change">
            <desc versionDate="2019-09-10" xml:lang="en">contains a single unstructured entry in any
              kind of lexical resource, such as a dictionary or lexicon. In this customization, this
              element maps to mARkdown Dictionaty Units.</desc>
            <attList>
              <attDef ident="type" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="nis">
                    <desc versionDate="2019-09-10" xml:lang="en">nisbaŧs, a descriptive name</desc>
                  </valItem>
                  <valItem mode="add" ident="top">
                    <desc versionDate="2019-09-10" xml:lang="en">a toponym entry</desc>
                  </valItem>
                  <valItem mode="add" ident="lex">
                    <desc versionDate="2019-09-10" xml:lang="en">a lexical entry</desc>
                  </valItem>
                  <valItem mode="add" ident="bib">
                    <desc versionDate="2019-09-10" xml:lang="en">a book title</desc>
                  </valItem>
                  <valItem mode="delete" ident="main"/>
                  <valItem mode="delete" ident="hom"/>
                  <valItem mode="delete" ident="xref"/>
                  <valItem mode="delete" ident="affix"/>
                  <valItem mode="delete" ident="abbr"/>
                  <valItem mode="delete" ident="supplemental"/>
                  <valItem mode="delete" ident="foreign"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <classSpec ident="att.datable" type="atts" mode="change">
            <classes mode="change">
              <memberOf key="att.datable.iso" mode="delete"/>
            </classes>
          </classSpec>
          <classRef key="att.global.analytic"/>
          <classSpec ident="att.datable.w3c" type="atts" mode="delete"/>
          <classSpec ident="att.dimensions" type="atts" mode="delete"/>
          <classSpec ident="att.editLike" type="atts" mode="delete"/>
          <elementSpec ident="category" mode="change">
            <desc versionDate="2019-09-14" xml:lang="en">contains an individual descriptive
              category, possibly nested within a superordinate category, within a user-defined
              taxonomy. In this customization a category may either indicate a mARkdown Open Tagging
              Pattern (<code>@CAT_SUBCAT_SUBSUBCAT@</code>) organized into nested <gi>category</gi>
              elements; or custom terms for Morphological Patterns (<code>#~:category:</code> or
                <code>#~:undefined:</code>), which can also be nested.</desc>
          </elementSpec>
          <elementSpec ident="measure" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="distance">
                    <desc versionDate="2019-09-14" xml:lang="en">Distance in a route (encoded with
                        <gi>seg</gi>). Corresponds to <code>#$#DIST</code>.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="persName" mode="change">
            <attList>
              <attDef ident="role" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="source">
                    <desc versionDate="2019-09-14" xml:lang="en">Person who is a
                        <soCalled>source</soCalled> of information (for statements such as qāla
                      fulān b. fulān). Corresponds to code <code>@SRCXX</code>.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="placeName" mode="change">
            <attList>
              <attDef ident="role" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="start">
                    <desc versionDate="2019-09-14" xml:lang="en">A starting point in a route
                      (encoded with <gi>seg</gi>). Corresponds to <code>#$#FROM</code>.</desc>
                  </valItem>
                  <valItem mode="add" ident="end">
                    <desc versionDate="2019-09-14" xml:lang="en">An ending point in a route (encoded
                      with <gi>seg</gi>). Corresponds to <code>#$#TOWA</code>.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="region" mode="change">
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <desc versionDate="2019-09-14" xml:lang="en">characterizes the element in some
                  sense, using any convenient classification scheme or typology. Indicates whether
                  this is a province or a more generic region. Corresponds to mARkdown
                    <code>#$#PROV</code> or <code>#$#REGX</code>.</desc>
                <datatype>
                  <dataRef key="oitidata.region" restriction=""/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          <dataSpec ident="oitidata.region" mode="add">
            <content>
              <dataRef name="string" restriction="(province|region\d)"/>
            </content>
          </dataSpec>
          <elementSpec ident="ab" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="rwy">
                    <desc versionDate="2019-09-15" xml:lang="en">A riwāyaŧ unit.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="event" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="visit">
                    <desc versionDate="2022-07-22" xml:lang="en">An event representing a visit to a place indicated with a URI in <att>where</att></desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
        </schemaSpec>
      </div>
    </back>
  </text>
</TEI>
