tei_openiti.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:rng="http://relaxng.org/ns/structure/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>OpenITI Document Schema</title>
      </titleStmt>
      <publicationStmt>
        <publisher>OpenITI</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <head>TEI customization for representing OpenITI mARkdown documents</head>
      <p>This customization defines a schema for encoding OpenITI mARkdown documents in TEI. It is
        based on the mARkdown highlight schema for EditPad Pro, which si documented here: <ref
          target="https://alraqmiyyat.github.io/mARkdown/"
          >https://alraqmiyyat.github.io/mARkdown/</ref>. The code for the highlight schema is on
        GitHub at: <ref target="https://github.com/OpenITI/mARkdown_scheme"
          >https://github.com/OpenITI/mARkdown_scheme</ref>.</p>
      <p>The following sections correspond to the mARkdown documentation and discuss how each
        feature is to be encoded in TEI.</p>
      <div>
        <head>Paragraphs and lines</head>
        <p>Paragraphs are encoded with <gi>p</gi> and line beginnings marked by <gi>lb</gi>.</p>
      </div>
      <div>
        <head>Page numbers</head>
        <p>mARkdown tags pages and volume numbers with <code>PageV##P###</code>. This is split into
          two TEI elements.</p>
        <p>Page numbers are encoded with <gi>pb</gi> and <att>n</att>. </p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <pb n="022"/>
        </egXML>
        <p>Volume numbers are encoded with <gi>milestone</gi> with <att>unit</att> set to "volume"
          and <att>n</att>.</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <milestone unit="volume" n="05"/>
        </egXML>
      </div>
      <div>
        <head>Verses of poetry</head>
        <p>Poetry lines are encoded with <gi>l</gi></p>
        <p>Hemistichs are encoded within <gi>l</gi> using <gi>seg</gi> with <att>type</att> set to
          "hemistich"</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <l><seg type="hemistich">وإنما القرم من الأفيل</seg> قد يلحق الصغير بالجليل</l>
        </egXML>
      </div>
      <div>
        <head>Milestones</head>
        <p>mARkdown documents often introduce milestones every 300 words to facilitate segmentation.
          These milestones are kept in the TEI and are encoded with <gi>milestone</gi> with
            <att>unit</att> set to "words" and <att>n</att> set to "300".</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <milestone unit="words" n="300"/>
        </egXML>
      </div>
      <div>
        <head>Section headers</head>
        <p>mARkdown identifies levels for section headers. This is not strictly necessary in TEI,
          but this customization preserves the level as specified in the source mARkdown document
          with <att>n</att>.</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <head n="3"/>
        </egXML>
      </div>
      <div>
        <head>Editorial sections</head>
        <p>These are divisions containing paratext, i.e. text not written by the author, but, for
          example, by an editor. This term reflects the terminology used in the mARkdown scheme,
          namely the code <code>### |EDITOR|</code>.</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <div type="editorial">
            <!-- ... -->
          </div>
        </egXML>
      </div>
      <div>
        <head>Dictionary units</head>
        <p>Dictionary units are encoded with <gi>entryFree</gi> and they are not further structured.
          A <att>type</att> attribute can be used to define the type of entry. Valid values are: <!-- TODO: specGrp may be more appropriate to avoid duplication -->
          <list>
            <item>nis (a descriptive name entry, or nisbaŧs)</item>
            <item>top (a toponym entry)</item>
            <item>lex (a lexicalentry)</item>
            <item>bib (a book title)</item>
          </list>
        </p>
      </div>
      <div>
        <head>Biographies and Events</head>
        <p>Sections that can be identified as biographies are marked with <gi>div</gi> with
            <att>type</att> set to "biography". The <att>subtype</att> attributes indicates whether
          the biography is about a man ("man"), a woman ("woman"), or if it's a cross reference or
          repetition ("ref_or_rep").</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <div type="biography" subtype="ref_or_rep">
            <!-- ... -->
          </div>
        </egXML>
        <p>Other specifications are handled with <att>type</att> values. <list>
            <item>"names" for an unstructured list of names</item>
            <item>"event" for a single event</item>
            <item>"events" for multiple, unstructured events</item>
          </list></p>
      </div>
      <div>
        <head>Doxographical items</head>
        <p>Doxographical items are encoded with <gi>div</gi> with <att>type</att> set to
          "doxographical". The <att>subtype</att> attribute indicates whether the section deals with
          doxographical/theological positions ("pos") or it describes religious groups ("sec").</p>
      </div>
      <div>
        <head>Named Entities</head>
        <p>Most Named Entities in mARkdown may include a prefix (not dates). This is explicitely
          marked with a <gi>seg</gi> with <att>type</att> set to "prefix".</p>
        <div>
          <head>Biographical characteristics</head>
          <p>Encoded with <gi>seg</gi> with <att>type</att> set to "biochar".</p>
        </div>
        <div>
          <head>Years AH</head>
          <p>These dates are encoded using <gi>date</gi> with required <att>calendar</att>,
              <att>when-custom</att>, and <att>datingMethod</att>. The calendar is defined in the
            header using elements from 2.4.5 Calendar Description (see Guidelines); a
              <gi>calendarDesc</gi> must have the <att>xml:id</att> "ah" for Anno Hegirae, "in the
            year of the Hijra".</p>
          <p>The <att>type</att> attribute can be used to indicate whether the date is of "birth" or
            "death".</p>
          <egXML xmlns="http://www.tei-c.org/ns/Examples">
            <date type="birth" when-custom="499" calendar="#ah" datingMethod="#ah"/>
          </egXML>
          <p>Age is encoded with <gi>num</gi> with <att>type</att> set to "age".</p>
        </div>
        <div>
          <head>Toponyms</head>
          <p>Encoded with <gi>placeName</gi>.</p>
        </div>
        <div>
          <head>Individuals (Persons)</head>
          <p>Encoded with <gi>persName</gi>.</p>
        </div>
        <div>
          <head>Sources</head>
          <p>Sources are typically people, so they are encoded with <gi>persName</gi> with
              <att>role</att> set to "source".</p>
        </div>
      </div>
      <div>
        <head>Open Tagging Pattern</head>
        <p>These custom tags are first collected and compiled into a <gi>taxonomy</gi> in the
          header. The <att>resp</att> attribute can be used to indicate the individual or project
          responsible for the tags.</p>
        <p>Categories are encoded with <gi>category</gi> and can nest.</p>
      </div>
      <div>
        <head>Morphological Patterns</head>
        <p>These patterns are better described as interpretative encoding in the TEI. Refer to
          chapter 17 in the Guidelines.</p>
        <p>Categories of interpretation will be encoded as a <gi>taxonomy</gi> in the header,
          composed of <gi>category</gi> elements that can nest.</p>
        <p>Tagged sections will refer to these terms via <att>ana</att>. Either <gi>div</gi>,
            <gi>seg</gi>, or other relevant elements may be added to indicate the morphological
          tagging (<att>ana</att> is global).</p>
      </div>
      <div>
        <head>Geographical units</head>
        <div>
          <head>Administrative Divisions</head>
          <p>These places are encoded with <gi>placeName</gi> as appropriate, but may be further
            structured. Provinces and regions are encoded with <gi>region</gi>, with <att>type</att>
            indicating whether it is a province or a more generic region. Since regions can be
            numbered in mARkdown, we define a dedicated datatype with the pattern
              <code>(province|region\d)</code>.</p>
          <p>Settlements are encoded, still within <gi>placeName</gi> with <gi>settlement</gi>.</p>
        </div>
        <div>
          <head>Routes and distances</head>
          <p>Portions of texts that identify routes are marked with <gi>seg</gi> with
              <att>type</att> set to "route". Within it, the starting and ending places are encoded
            with <gi>placeName</gi> with <att>role</att> set to, respectively, "start" or "end".
            Distances are encoded with <gi>measure</gi> with <att>type</att> set to "distance".</p>
        </div>
      </div>
      <div>
        <head>Riwāyāt units</head>
        <p>These units are marked with <gi>p</gi> with <att>type</att> set to "rwy". Each unit may
          be organized in three parts, each encoded with <gi>seg</gi> with <att>type</att> set to
          "isn" for isnād, "matn", or "hukm" for ḥukm.</p>
      </div>
    </body>
    <back>
      <div>
        <schemaSpec ident="tei_openiti" start="TEI" prefix="tei_" targetLang="en" docLang="en">
          <moduleRef key="dictionaries" include="entryFree"/>
          <moduleRef key="namesdates" except="listObject object objectIdentifier objectName"/>
          <moduleRef key="linking" include="seg ab"/>
          <moduleRef key="header" except="conversion unitDecl unitDef"/>
          <moduleRef key="core" except="divGen teiCorpus"/>
          <moduleRef key="tei"/>
          <moduleRef key="textstructure"
            except="div1 div2 div3 div4 div5 div6 div7 dateline docDate"/>
          <elementSpec ident="teiCorpus" mode="delete" module="core"/>
          <elementSpec ident="milestone" mode="change">
            <attList>
              <attDef ident="n" mode="change">
                <desc versionDate="2019-09-02" xml:lang="en">gives a number (or other label) for an
                  element, which is not necessarily unique within the document. In this
                  customization, this value partly represents the OpenITI mARkdown milestone300,
                  which indicates the boundary between 300-word sections.</desc>
                <valList type="semi" mode="change">
                  <valItem mode="add" ident="300">
                    <desc versionDate="2019-09-02" xml:lang="en">This value indicates 300
                      words.</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="unit" mode="change">
                <desc versionDate="2019-09-07" xml:lang="en">provides a conventional name for the
                  kind of section changing at this milestone. In this customization, milestones are
                  used to represet the OpenITI mARkdown milestone300, which indicates the boundary
                  between 300-word sections. They are also used to indicate volumes. Corresponds to
                    <code>PageV##</code>.</desc>
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="words">
                    <desc versionDate="2019-09-04" xml:lang="en">Words in Arabic script; determined
                      at time of creation of the source OpenITI mARkdown document.</desc>
                  </valItem>
                  <valItem mode="add" ident="volume">
                    <desc versionDate="2019-09-07" xml:lang="en">Indicated the beginning of a volume
                      when texts are organized in multiple volumes.</desc>
                  </valItem>
                  <valItem mode="delete" ident="page"/>
                  <valItem mode="delete" ident="column"/>
                  <valItem mode="delete" ident="line"/>
                  <valItem mode="delete" ident="book"/>
                  <valItem mode="delete" ident="poem"/>
                  <valItem mode="delete" ident="canto"/>
                  <valItem mode="delete" ident="speaker"/>
                  <valItem mode="delete" ident="stanza"/>
                  <valItem mode="delete" ident="act"/>
                  <valItem mode="delete" ident="scene"/>
                  <valItem mode="delete" ident="section"/>
                  <valItem mode="delete" ident="absent"/>
                  <valItem mode="delete" ident="unnumbered"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="seg" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="hemistic">
                    <desc versionDate="2019-09-02" xml:lang="en">A half verse. This value is to be
                      used within <gi>l</gi></desc>
                  </valItem>
                  <valItem mode="add" ident="prefix">
                    <desc versionDate="2019-09-10" xml:lang="en">A prefix in a named entity.
                      Determined based on the first digit of a mARkdown named entity.</desc>
                  </valItem>
                  <valItem mode="add" ident="biochar">
                    <desc versionDate="2019-09-10" xml:lang="en">A biographical characteristic.
                      Corresponds to <code>@SOCXX</code> or <code>@SXX</code>.</desc>
                  </valItem>
                  <valItem mode="add" ident="route">
                    <desc versionDate="2019-09-14" xml:lang="en">A route usually composed of a
                      starting place, an ending place and a measure of distance.</desc>
                  </valItem>
                  <valItem mode="add" ident="isn">
                    <desc versionDate="2019-09-15" xml:lang="en">Isnād part of a riwāyāt unit</desc>
                  </valItem>
                  <valItem mode="add" ident="matn">
                    <desc versionDate="2019-09-15" xml:lang="en">Matn part of a riwāyāt unit</desc>
                  </valItem>
                  <valItem mode="add" ident="hukm">
                    <desc versionDate="2019-09-15" xml:lang="en">Ḥukm part of a riwāyāt unit</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="head" mode="change">
            <attList>
              <attDef ident="n" mode="change">
                <desc versionDate="2019-09-07" xml:lang="en">gives a number (or other label) for an
                  element, which is not necessarily unique within the document. Even if not strictly
                  necessary, in this customization, we keep track of the header level as specified
                  in the original mARkdown document.</desc>
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="1"/>
                  <valItem mode="add" ident="2"/>
                  <valItem mode="add" ident="3"/>
                  <valItem mode="add" ident="4"/>
                  <valItem mode="add" ident="5"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="name" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="nisbaŧs">
                    <desc versionDate="2019-09-07" xml:lang="en">A descriptive name "nisbaŧs".
                      Equivalent to mARkdown's $DIC_NIS$.</desc>
                  </valItem>
                  <valItem mode="add" ident="nis">
                    <desc versionDate="2019-09-08" xml:lang="en">A descriptive name, or "nisbaŧs".
                      Equivalent to mARkdown's $DIC_NIS$.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="div" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="editorial">
                    <desc versionDate="2019-09-14" xml:lang="en">A division containing paratext,
                      i.e. text not written by the author, but, for example, by an editor. This term
                      reflects the terminology used in the mARkdown document format, namely the code
                        <code>### |EDITOR|</code>.</desc>
                  </valItem>
                  <valItem mode="add" ident="biography">
                    <desc versionDate="2019-09-10" xml:lang="en">This division contains the
                      biography of a person.</desc>
                  </valItem>
                  <valItem mode="add" ident="event">
                    <desc versionDate="2019-09-10" xml:lang="en">Text decribing a historical event.
                      Corresponds to <code>### @</code> or <code>$CHR_EVE$</code> [a historical
                      event].</desc>
                  </valItem>
                  <valItem mode="add" ident="events">
                    <desc versionDate="2019-09-10" xml:lang="en">Text describing a number of
                      historical events. Corresponds to <code>### @ RAW</code> or <code>###
                        $CHR_RAW$</code> [a batch of historical events].</desc>
                  </valItem>
                  <valItem mode="add" ident="doxographical">
                    <desc versionDate="2019-09-10" xml:lang="en">A sections dealing with
                      doxographical items.</desc>
                  </valItem>
                  <valItem mode="add" ident="names">
                    <desc versionDate="2019-09-14" xml:lang="en">An unstructured list of names.
                      Corresponds to <code>### $$$$</code> [a list of names].</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="subtype" mode="change">
                <desc versionDate="2019-09-10" xml:lang="en">provides a sub-categorization of the
                  element, if needed. Only to be used in conjuction with a <att>type</att>
                  "biography".</desc>
                <valList type="semi" mode="change">
                  <valItem mode="add" ident="man">
                    <desc versionDate="2019-09-10" xml:lang="en">With <att>type</att> "biography",
                      the biography of a man. Corresponds to mARkdown <code>### $</code> or
                        <code>### $BIO_MAN$</code> [a biography of a man].</desc>
                  </valItem>
                  <valItem mode="add" ident="woman">
                    <desc versionDate="2019-09-10" xml:lang="en">With <att>type</att> "biography",
                      the biography of a woman. Corresponds to <code>### $$</code> or <code>###
                        $BIO_REF$</code> [a biography of a woman].</desc>
                  </valItem>
                  <valItem mode="add" ident="ref_or_rep">
                    <desc versionDate="2019-09-10" xml:lang="en">With <att>type</att> "biography", a
                      cross-reference to or repetition of another person's biography. Corresponds to
                        <code>### $$$</code> or <code>### $BIO_WOM$</code> [a cross-reference and/or
                      repetition, for both men and women]</desc>
                  </valItem>
                  <valItem mode="add" ident="pos">
                    <desc versionDate="2019-09-10" xml:lang="en">With <att>type</att>
                      "doxographical", indicates a section dealing with doxographical/theological
                      positions. Corresponds to <code>### $DOX_POS$</code>.</desc>
                  </valItem>
                  <valItem mode="add" ident="sec">
                    <desc versionDate="2019-09-10" xml:lang="en">With <att>type</att>
                      "doxographical", indicates a section containing descriptions of religious
                      groups (“sects”) Corresponds to <code>### $DOX_SEC$</code>.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <classSpec ident="att.global.linking" type="atts" mode="delete"/>
          <classSpec ident="att.global.rendition" type="atts" mode="delete"/>
          <classSpec ident="att.global.source" type="atts" mode="delete"/>
          <elementSpec ident="date" mode="change">
            <attList>
              <attDef ident="calendar" mode="change" usage="req">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="#ah">
                    <desc versionDate="2019-09-10" xml:lang="en">Anno Hegirae, "in the year of the
                      Hijra"</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="when-custom" mode="change" usage="req">
                <datatype>
                  <dataRef key="teidata.count"/>
                </datatype>
              </attDef>
              <attDef ident="datingMethod" mode="change" usage="req">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="#ah">
                    <desc versionDate="2019-09-10" xml:lang="en">Anno Hegirae, "in the year of the
                      Hijra"</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="type" mode="change">
                <desc versionDate="2019-09-10" xml:lang="en">characterizes the element in some
                  sense, using any convenient classification scheme or typology. Lack of type with
                    <att>when-custom</att> indicates <code>YY####</code>.</desc>
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="birth">
                    <desc versionDate="2019-09-10" xml:lang="en">Date of birth. Together with
                        <att>when-custom</att> corresponds to <code>YB####</code>.</desc>
                  </valItem>
                  <valItem mode="add" ident="death">
                    <desc versionDate="2019-09-10" xml:lang="en">Date of death. Together with
                        <att>when-custom</att> corresponds to <code>YD####</code>.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="num" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <valList mode="change">
                  <valItem mode="add" ident="age">
                    <desc versionDate="2019-09-10" xml:lang="en">A person's age. Correspondes to
                        <code>YA####</code>.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="taxonomy" mode="change">
            <desc versionDate="2019-09-14" xml:lang="en">defines a typology either implicitly, by
              means of a bibliographic citation, or explicitly by a structured taxonomy. In this
              customization, taxonomies are used to model mARkdown Open Tagging Patterns and
              Morphological Patterns.</desc>
            <attList>
              <attDef ident="resp" mode="change" usage="req">
                <desc versionDate="2019-09-10" xml:lang="en">indicates the agency responsible for
                  the intervention or interpretation, for example an editor or transcriber. This
                  attribute is required in this customization in order to capture the
                    <code>@USER</code> part of the mARkdown open tagging system.</desc>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="entryFree" mode="change">
            <desc versionDate="2019-09-10" xml:lang="en">contains a single unstructured entry in any
              kind of lexical resource, such as a dictionary or lexicon. In this customization, this
              element maps to mARkdown Dictionaty Units.</desc>
            <attList>
              <attDef ident="type" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="nis">
                    <desc versionDate="2019-09-10" xml:lang="en">nisbaŧs, a descriptive name</desc>
                  </valItem>
                  <valItem mode="add" ident="top">
                    <desc versionDate="2019-09-10" xml:lang="en">a toponym entry</desc>
                  </valItem>
                  <valItem mode="add" ident="lex">
                    <desc versionDate="2019-09-10" xml:lang="en">a lexical entry</desc>
                  </valItem>
                  <valItem mode="add" ident="bib">
                    <desc versionDate="2019-09-10" xml:lang="en">a book title</desc>
                  </valItem>
                  <valItem mode="delete" ident="main"/>
                  <valItem mode="delete" ident="hom"/>
                  <valItem mode="delete" ident="xref"/>
                  <valItem mode="delete" ident="affix"/>
                  <valItem mode="delete" ident="abbr"/>
                  <valItem mode="delete" ident="supplemental"/>
                  <valItem mode="delete" ident="foreign"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <classSpec ident="att.datable" type="atts" mode="change">
            <classes mode="change">
              <memberOf key="att.datable.iso" mode="delete"/>
            </classes>
          </classSpec>
          <classRef key="att.global.analytic"/>
          <classSpec ident="att.datable.w3c" type="atts" mode="delete"/>
          <classSpec ident="att.dimensions" type="atts" mode="delete"/>
          <classSpec ident="att.editLike" type="atts" mode="delete"/>
          <elementSpec ident="category" mode="change">
            <desc versionDate="2019-09-14" xml:lang="en">contains an individual descriptive
              category, possibly nested within a superordinate category, within a user-defined
              taxonomy. In this customization a category may either indicate a mARkdown Open Tagging
              Pattern (<code>@CAT_SUBCAT_SUBSUBCAT@</code>) organized into nested <gi>category</gi>
              elements; or custom terms for Morphological Patterns (<code>#~:category:</code> or
                <code>#~:undefined:</code>), which can also be nested.</desc>
          </elementSpec>
          <elementSpec ident="measure" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="distance">
                    <desc versionDate="2019-09-14" xml:lang="en">Distance in a route (encoded with
                        <gi>seg</gi>). Corresponds to <code>#$#DIST</code>.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="persName" mode="change">
            <attList>
              <attDef ident="role" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="source">
                    <desc versionDate="2019-09-14" xml:lang="en">Person who is a
                        <soCalled>source</soCalled> of information (for statements such as qāla
                      fulān b. fulān). Corresponds to code <code>@SRCXX</code>.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="placeName" mode="change">
            <attList>
              <attDef ident="role" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="start">
                    <desc versionDate="2019-09-14" xml:lang="en">A starting point in a route
                      (encoded with <gi>seg</gi>). Corresponds to <code>#$#FROM</code>.</desc>
                  </valItem>
                  <valItem mode="add" ident="end">
                    <desc versionDate="2019-09-14" xml:lang="en">An ending point in a route (encoded
                      with <gi>seg</gi>). Corresponds to <code>#$#TOWA</code>.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="region" mode="change">
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <desc versionDate="2019-09-14" xml:lang="en">characterizes the element in some
                  sense, using any convenient classification scheme or typology. Indicates whether
                  this is a province or a more generic region. Corresponds to mARkdown
                    <code>#$#PROV</code> or <code>#$#REGX</code>.</desc>
                <datatype>
                  <dataRef key="oitidata.region" restriction=""/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          <dataSpec ident="oitidata.region" mode="add">
            <content>
              <dataRef name="string" restriction="(province|region\d)"/>
            </content>
          </dataSpec>
          <elementSpec ident="ab" mode="change">
            <attList>
              <attDef ident="type" mode="change">
                <valList type="closed" mode="change">
                  <valItem mode="add" ident="rwy">
                    <desc versionDate="2019-09-15" xml:lang="en">A riwāyaŧ unit.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
        </schemaSpec>
      </div>
    </back>
  </text>
</TEI>
